@charset "UTF-8";

.icon-th-list:before { content: '\2190'; } /* '←' */
.icon-list-add:before { content: '\2191'; } /* '↑' */
.icon-th-list-outline:before { content: '\2192'; } /* '→' */
.icon-pencil:before { content: '\2193'; } /* '↓' */
.icon-to-end:before { content: '\2302'; } /* '⌂' */
.icon-mic-circled:before { content: '\2699'; } /* '⚙' */
.icon-cancel-circled-outline:before { content: '\26ef'; } /* '⛯' */
.icon-mic-1:before { content: '\e705'; } /* '' */
.icon-play:before { content: '\e800'; } /* '' */
.icon-pause:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-to-start:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-folder-open:before { content: '\e805'; } /* '' */
.icon-info-circled:before { content: '\e806'; } /* '' */
.icon-cog:before { content: '\e807'; } /* '' */
.icon-cog-alt:before { content: '\e808'; } /* '' */
.icon-cancel-circled-1:before { content: '\e809'; } /* '' */
.icon-trash-empty:before { content: '\e80a'; } /* '' */
.icon-edit-1:before { content: '\e80b'; } /* '' */
.icon-down-big:before { content: '\e80c'; } /* '' */
.icon-left-big:before { content: '\e80d'; } /* '' */
.icon-right-big:before { content: '\e80e'; } /* '' */
.icon-music:before { content: '\e80f'; } /* '' */
.icon-up-big:before { content: '\e810'; } /* '' */
.icon-trash:before { content: '\e811'; } /* '' */
.icon-plus:before { content: '\e812'; } /* '' */
.icon-plus-circled:before { content: '\e813'; } /* '' */
.icon-home-1:before { content: '\e814'; } /* '' */
.icon-home-2:before { content: '\e815'; } /* '' */
.icon-search-1:before { content: '\e816'; } /* '' */
.icon-search-3:before { content: '\e817'; } /* '' */
.icon-info-circled-1:before { content: '\e818'; } /* '' */
.icon-info:before { content: '\e819'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-down-circled:before { content: '\f0ab'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-search-2:before { content: '\f50d'; } /* '' */
.icon-volume-up:before { content: '📂'; } /* '\1f4c2' */
.icon-volume-down:before { content: '🔍'; } /* '\1f50d' */
